@tailwind base;
@tailwind components;
@tailwind utilities;

/* 表情选择器样式定制 */
.emoji-picker-react {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.emoji-picker-react .emoji-group:before {
  background-color: #282c34;
  color: white;
}
